@model IEnumerable<WebApplication1.Models.tblClient>

@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>USUARIO</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .titulo {
            color: midnightblue;
            font-family: 'Bookman Old Style';
            font-size: 35px;
            margin-left: 220PX;
        }

        input,
        select,
        textarea {
            width: 420px;
            height: auto;
        }
    </style>

</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <h2 class="titulo">BIENVENIDO USUARIO: @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest") </h2>
        <a href="@Url.Action("SignOut","Home")">Logout</a>
    }

    <div class="container">

        <div class="row">
            <div class="panel panel-success" style="width:80em; height: 34.5em; margin-left: -0.1em; padding: 1em; padding-top: -1EM;  margin-top: 1em; ">

                <div class="panel-body" style="width: 50em; margin-left: 0em; margin-top: 0em;  padding: 5px 10px;">

                    <div>
                        <a href="@Url.Action("IndexUser","Home")">Regresar</a>
                        <p>
                            @Html.ActionLink("Crear Nuevo Cliente", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.id_client)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.web_page)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.direccion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.puesto)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id_client)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.web_page)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.puesto)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id_client }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.id_client }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.id_client })
                                    </td>
                                </tr>
                            }

                        </table>
                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



